* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

body {
  background-color: rgrgb(189, 205, 209);
}

/* GENERAL CLASSES */

.text--focus {
  font-weight: 700;
  font-style: italic;
}

/* HEADER DIVS & IMGS */

header {
  margin-bottom: 10rem;
}

.header__container {
  margin: 2rem 5rem;
  padding-top: 3rem;
}

.header__img {
  height: 300px;
  width: 300px;
  margin-left: 4rem;
  position: absolute;

  background-image: url("/personal-site/img/personal-img.jpg");
  background-size: 350px;
  background-position-x: center;
  background-position-y: -25px;

  float: left;
  border-radius: 50%;
  border: 5px rgb(63, 74, 124) solid;
}

/* HEADER TEXT */

.header__text {
  text-align: center;
}

.header--title {
  display: inline;
  font-size: 2.5rem;
}

.header--span {
  font-size: 1.75rem;
  font-style: italic;
}

.span--symbol {
  padding: 0 1rem;
}

.header--paragraph {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

/* SECTION */

section {
  margin: 0 5rem;
}

.section--titles {
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;

  border-bottom: solid black 1.5px;
  font-size: 2rem;
}

.section--list {
  padding: 1.25rem 0 0 1.5rem;
}

.section--options {
  padding: 0.25rem;
  font-size: 1.5rem;
}

/* TABLE */

.table__skills {
  display: flex;
  justify-content: left;
  border-spacing: 5rem 0;

  margin: 1.25rem 0;
}

.table__columns {
  padding: 1rem 2rem;

  border: 1px solid rgba(0, 0, 0, 0.466);
}

.table__head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.466);

  font-size: 1.75rem;
}

.table__head:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.466);

  padding-right: 2.5rem;
}

.table__head:last-child {
  padding-left: 2.5rem;
}

.table__cells {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

.table__cells--first {
  padding-top: 1.5rem;
}

.skills {
  padding-right: 1.5rem;
}
